body {
    background-image: url("Pixel\ Art\ GIF.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: bisque;
    padding-top: 80px;
}

button {
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00bfff;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
}

.perfil {
    border-radius: 50%;
}

.boton1 {
    background-image: url("descarga.jpeg");
}

.boton2{
    background-image: url("Screenshot_1.png");

}
.boton3{
    background-image: url("Screenshot_1.png");
}

.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00bfff;
}

/* Botón nota musical */
#sound-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background: rgba(0,0,0,0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.2s ease, background 0.2s ease;
    display: flex;
    align-items: center;     
    justify-content: center; 
    line-height: 0;          
    z-index: 9999;
}


#sound-btn:hover {
    transform: scale(1.15);
    background: rgba(0,0,0,0.85);
}

