body {
    background-image: url("gifCode.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    padding-top: 80px;
    
}

.sixtyfour {
color:rgb(133, 243, 8);
font-family: "Sixtyfour", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
font-variation-settings:


    "BLED" 0,
    "SCAN" 0;
}
button {
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00bfff;
    color: white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;   /* transición del zoom */
}

button:hover {
    transform: scale(1.15);            /* zoom al pasar el cursor */
    background-color: #000000;
}


button:hover {
    background-color: #000000;
}

.perfil {
    border-radius: 20%;
    margin-left: 7%;
}

.boton1 {
    background-image: url("");
    color:rgb(255, 255, 255) ;
    margin-left: 0%;
    font-family: "Sixtyfour", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
font-size: 16px;
background-image: url("descarga\ \(1\).jpeg")
}

.boton2{
    background-image: url("Screenshot_2.png");
    color: #d83535;
    margin-left: -7%;
    font-family: "Sixtyfour", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
font-size: 16px;
}
.boton3{
    background-image: url("Screenshot_2.png");
color: #d83535;
    margin-left: 7%;
    width: 100%;
    font-family: "Sixtyfour", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
font-size: 16px;
}

.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00bfff;
}

/* Botón nota musical */
#sound-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background: rgba(0,0,0,0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.2s ease, background 0.2s ease;
    display: flex;
    align-items: center;     
    justify-content: center; 
    line-height: 0;          
    z-index: 9999;
}


#sound-btn:hover {
    transform: scale(1.15);
    background: rgba(0,0,0,0.85);
}

